@media screen and (max-width: 512px) {
  * {
    margin: 0;
    padding: 0;
    align-items: center;
  }

  @font-face {
    font-family: inkfree;
    src: url(fonts/ink-free-normal.ttf);
  }
  @font-face {
    font-family: Segoe;
    src: url(fonts/segoesc.ttf);
  }

  @font-face {
    font-family: Open-San-Light;
    src: url(./fonts/OpenSans-Light.ttf);
  }

  .container {
    width: 100%;
    height: 100vh;
    display: grid;
    user-select: none;
    max-height: 1080px;
    margin: 0 auto;

    position: relative;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "nav"
      "slide1"
      "slide2"
      "slide3";
  }
  /* Navigation Area */

  .nav {
    grid-area: nav;
    height: 1cm;
    width: 100%;
    background-color: #84a6f7;
    position: absolute;
    z-index: 2;
  }
  .nav h1 {
    float: left;
    position: absolute;
    left: 40%;
    bottom: 3px;
    font-size: 15px;
    font-weight: 100;
    color: #f6f6f6;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .nav span {
    position: absolute;
    font-weight: 100;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    margin-left: 50px;
    color: #fff;
    left: 42%;
    bottom: 5px;
  }

  .nav li {
    position: relative;
    top: 0vh;
    right: 5vh;
    display: inline;
    list-style: none;
    float: right;
    padding-top: 0.5vh;
    margin-left: 1vh;
    visibility: hidden;
  }
  .nav li a {
    font-family: Open-San-Light;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
  }

  /*SLIDER ! */

  .slide1 {
    grid-area: slide1;
    height: 876px;
    width: 100%;
    position: relative;
    background-color: #f6f6f6;
    border-bottom: 1px solid red;
  }

  .greeting h1 {
    position: absolute;
    top: 7%;
    left: 10%;

    font-size: 35px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #707070;
  }
  .greeting h2 {
    position: absolute;
    top: 11%;
    margin-top: 3px;
    left: 25%;
    font-size: 21px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #707070;
  }

  .person1 {
    position: absolute;
    left: 20%;
    top: 16%;
    height: 255px;
    width: 255px;

    background-color: #bfd1fd;
    border-radius: 30px;
    border: 1px solid #707070;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .slide1 .person1 img {
    height: 255px;
    width: 255px;
  }

  .slide1 .qoute1 {
    position: absolute;
    left: 19%;
    top: 58%;

    font-family: inkfree;
    font-size: 25px;
  }
  .slide1 .qoute2 {
    position: absolute;
    left: 24%;
    top: 61%;

    font-family: inkfree;
    font-size: 25px;
  }

  .slide1 hr {
    position: absolute;
    top: 70%;
    left: 10%;
    width: 320px;
    height: 2px;
    border-radius: 30px;
    background-color: #707070;
  }
  .slide1 .vertical1 {
    position: absolute;
    height: 20px;
    width: 200px;
    top: 48%;
    left: 8%;
    border: 1px solid #707070;
    background-color: #bfd1fd;
    border-radius: 20px;
  }
  .slide1 .vertical2 {
    position: absolute;
    height: 20px;
    width: 200px;
    top: 52%;
    right: 8%;
    border: 1px solid #707070;
    background-color: #bfd1fd;
    border-radius: 20px;
  }
  .slide1 .link {
    position: absolute;
    left: 25%;
    bottom: 1px;
    height: 100px;
    width: 500px;
  }
  .slide1 .link li {
    display: inline;
    margin: 10px;
    align-items: center;
  }

  .slide1 .link img {
    height: 40px;
    width: 40px;
    border: 1px solid #707070;
    border-radius: 30px;
  }
  /* Slideer 2*/
  .slide2 {
    position: relative;
    grid-area: slide2;
    height: 876px;
    width: 100%;
    background-color: #f6f6f6;
    border-bottom: 1px solid #84a6f7;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .slide2 .Education-Attain {
    position: absolute;
    height: 35px;
    width: 250px;
    top: 3%;
    left: 20%;

    background-color: #84a6f7;
    border: 1px solid #707070;
    border-radius: 30px;
    padding-top: 8px;
  }

  .Education-Attain h2 {
    color: #fff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    padding-left: 25px;
    position: relative;
    font-size: 16px;
  }

  .Education-Attain img {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 25px;
    top: 5px;
  }

  .Aboutme {
    position: absolute;

    left: 10%;
    top: 10%;
  }

  .Aboutme h1 {
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: #707070;
  }

  .Aboutme p {
    font-family: Segoe;
    font-size: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .College-Attain {
    position: absolute;
    left: 10%;
    top: 30%;
    height: 300px;
    width: 350px;

    background-color: #84a6f7;
    border-radius: 40px;
    border: 2px solid #fff;
    color: #fff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .College-Attain h1 {
    font-size: 20px;
    margin: 5px 0 0 25px;
  }
  .College-Attain h2 {
    font-size: 18px;
    margin: 3px 0 0 40px;
    font-weight: 500;
  }
  .College-Attain h3 {
    font-size: 12px;
    margin: 4px 0 0 40px;
    font-weight: 500;
  }
  .College-Attain p {
    font-size: 9px;
    margin: 3px 0 0 15px;
    font-weight: 100;
  }
  .College-Attain span {
    font-size: 1.2vh;
  }

  .SHS-Attain {
    position: absolute;
    bottom: 5vh;
    right: 25vh;
    height: 13vh;
    width: 13vh;
    z-index: 1;
    color: #fff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    background-color: #84a6f7;
    border-radius: 40px;
    border: 5px solid #fff;
  }
  .SHS-Attain h1 {
    font-size: 4vh;
    margin: 1vh 0 0 5vh;
  }

  .SHS-Attain h2 {
    font-size: 2.5vh;
    margin: 1vh 0 0 5vh;
    font-weight: 500;
  }

  .SHS-Attain h3 {
    font-size: 2vh;
    margin: 1vh 0 0 8vh;
    font-weight: 500;
  }

  .SHS-Attain span {
    font-size: 1.5vh;
  }

  .SHS-Attain p {
    font-size: 2vh;
    margin: 0.2vh 0 0 5vh;
    font-weight: 100;
  }

  .slide3 {
    grid-area: slide3;
    height: 876px;
    width: 100%;
    background-color: #f6f6f6;
    position: relative;
  }

  .slide3 .Skill-Exp {
    position: absolute;
    height: 13vh;
    width: 13vh;
    top: 10vh;
    left: 15vh;

    background-color: #84a6f7;
    border: 1px solid #707070;
    border-radius: 0px 30px 0px 0;
    padding-top: 10px;
  }

  .Skill-Exp h2 {
    color: #fff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    padding-left: 30px;
    position: relative;
    font-size: 2.5vh;
  }

  .Skill-Exp img {
    position: absolute;
    width: 5vh;
    height: 5vh;
    right: 11vh;
    top: 0.5vh;
  }

  .Web-Development {
    position: absolute;

    height: 13vh;
    width: 13vh;
    background-color: #84a6f7;
    border-radius: 30px;
    border: 5px solid #fff;
  }

  .Web-Designer {
    position: absolute;

    height: 13vh;
    width: 13vh;
    background-color: #84a6f7;
    border-radius: 30px;
    border: 5px solid #fff;
  }
  .System-Development {
    position: absolute;

    height: 13vh;
    width: 13vh;
    background-color: #84a6f7;
    border-radius: 30px;
    border: 5px solid #fff;
  }

  .carousel {
    position: absolute;
    align-items: center;
    top: 20vh;

    height: 350px;
    width: 10%;
    perspective: 200px;
    transform: translateY(-150px);
  }
  .carousel h1 {
    font-size: 5vh;
    color: #fff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  }
  .carousel img {
    width: 25vh;
    height: 25vh;
    margin-left: 28%;
  }
  .carousel-item {
    width: 550px;
    position: relative;
  }

  .Cover-Letter {
    position: absolute;
    bottom: 7vh;
    left: 25vh;
    height: 13vh;
    width: 13vh;
    border: 1px solid #707070;
    border-radius: 30px;
    background-color: #84a6f7;
  }

  .Cover-Letter p {
    font-family: Open-San-Light;
    font-size: 2.5vh;
    color: #fff;
    text-align: center;
    margin-top: 50px;
  }
}
