@media screen and (max-width: 512px) {
  * {
    margin: 0;
    padding: 0;
    align-items: center;
    border-bottom: 1;
  
  }
  
  @font-face {
    font-family: inkfree;
    src: url(fonts/ink-free-normal.ttf);
  }
  @font-face {
    font-family: Segoe;
    src: url(fonts/segoesc.ttf);
  }
  
  @font-face {
    font-family: Open-San-Light;
    src: url(./fonts/OpenSans-Light.ttf)
  }
  
  .container {
    width: 100%;
    height: 100%;
    display: grid;
    user-select: none;
    min-width: 412px;
    max-height: 1080px;
    box-sizing: border-box;
    
  
  
    position: relative;
  
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "slide1"
      "slide2"
      "slide3";
  }
  /* Navigation Area */
  
  .nav {
    height: 1cm;
    width: 100%;
    background-color: #84a6f7;
    position: fixed;
  }
  .nav h1 {
    float: left;
    position: absolute;
    left: 30%;
    bottom: 3px;
    font-size: 25px;
    font-weight: 100;
    color: #f6f6f6;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .nav span{
    position: absolute;
    font-weight: 100;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: #fff;
    left: 39%;
    margin-left: 55px;
  
  }
  
  .nav li {
    position: relative;
    top: 0vh;
    right: 5vh;
    display: inline;
    list-style: none;
    float: right;
    padding-top: 0.5vh;
    margin-left:1vh;
    visibility: hidden;
  }
  .nav li a {
    
    font-family: Open-San-Light;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
  }
  
  /*SLIDER ! */
  
  .slide1 {
    grid-area: slide1;
    height: 874px;
    width: 100%;
    position: relative;
    background-color: #f6f6f6;
    align-items: center;
  
  }
  
  .greeting h1 {
    position: absolute;
    top: 70px;
    left: 40px;
  
    font-size: 35px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #707070;
  }
  .greeting h2 {
    position: absolute;
    top: 110px;
    left: 110px;
  
    font-size: 21px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #707070;
  }
  
  .person1 {
    position: absolute;
    left:15%;
    top: 20%;
    height: 300px;
    width: 300px;
  
    background-color: #bfd1fd;
    border-radius: 30px;
    border: 2px solid #707070;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .slide1 .person1 img {
    height: 350px;
    width: 350px;
    
  }
  
  .slide1 .qoute1 {
    position: absolute;
    left: 15%;
    top: 68%;
  
    font-family: inkfree;
    font-size: 25px;
  }
  .slide1 .qoute2 {
    position: absolute;
    left: 19%;
    top: 71%;
  
    font-family: inkfree;
    font-size: 25px;
  }
  
  .slide1 hr {
    position: absolute;
    top: 78%;
    left: 30px;
    width: 320px;
    height: 2px;
    border-radius: 30px;
    background-color: #707070;
  }
  .slide1 .vertical1 {
    position: absolute;
    height: 20px;
    width: 200px;
    top: 58%;
    left: 5%;
    border: 1px solid #707070;
    background-color: #bfd1fd;
    border-radius: 20px;
  }
  .slide1 .vertical2 {
    position: absolute;
    height: 20px;
    width: 200px;
    top: 62%;
    right: 5%;
    border: 1px solid #707070;
    background-color: #bfd1fd;
    border-radius: 20px;
  }
  .slide1 .link {
    position: absolute;
    left: 20%;
    bottom: 0px;
    height: 100px;
    width: 200px;
  }
  .slide1 .link li {
    display: inline;
    margin: 10px;
  }
  
  .slide1 .link img {
    height: 40px;
    width: 40px;
    border: 1px solid #707070;
    border-radius: 30px;
    
    
  }
  /* Slideer 2*/
  .slide2 {
    position: relative;
    grid-area: slide2;
    height: 874px;
    width: 100%;
    background-color: #f6f6f6;
    border-bottom: 1px solid #84a6f7;
  
  
  }
  
  .slide2 .Education-Attain {
    position: absolute;
    height: 35px;
    width: 300px;
    top: 5%;
    left: 10%;
  
    background-color: #84a6f7;
    border: 1px solid #707070;
    border-radius: 30px;
    padding-top: 10px;
  
  }
  
  .Education-Attain h2 {
    color: #fff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    padding-left: 30px;
    position: relative;
    font-size: 18px;
  }
  
  .Education-Attain img {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 36px;
    top: 0.5vh;
  }
  
  .Aboutme {
    position: absolute;
  
    left: 35px;
    top: 12%;
  
  }
  
  .Aboutme h1 {
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    color: #707070;
  }
  
  .Aboutme p {
    font-family: Segoe;
    font-size: 12.5px;
    text-align:justify;
    white-space: nowrap;
  }
  
  .College-Attain{
    position: absolute;
    top: 32%;
    left: 30px;
    height: 300px;
    width: 350px;
  
    background-color: #84a6f7;
    border-radius: 40px;
    border: 2px solid #fff;
    color: #fff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    
  }
  
  .College-Attain h1{
    font-size: 20px;
    margin: 5px 0 0 25px;
  
  }
  .College-Attain h2{
  
    font-size:17px;
    margin: 5px 0 0px 35px;
    font-weight: 500;
  
  }
  .College-Attain h3{ 
    font-size: 15px;
    margin: 1px 0 0 70px;
    font-weight: 500;
  }
  .College-Attain p {
    font-size: 12px;
    margin: 1px 0 0 10px;
    font-weight: 100;
  }
  .College-Attain span{
  
    font-size: 10px;
  }
  
  .SHS-Attain{
    position: absolute;
    bottom:75px;
    left: 30px;
    height: 250px;
    width: 350px;

    z-index: 1;
    color: #fff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  
    background-color: #84a6f7;
    border-radius: 40px;
    border: 2px solid #fff;
  }
  .SHS-Attain h1{
    font-size: 20px;
    margin: 5px 0 0 25px;
  
  }
  
  .SHS-Attain h2{
  
    font-size:13px;
    margin: 5px 0 0px 35px;
    font-weight: 500;
  
  }
  
  .SHS-Attain h3{
    font-size:10px;
    margin: 5px 0 0px 35px;
    font-weight: 500;
  }
  
  .SHS-Attain span{
    font-size: 8px;
  
  }
  
  .SHS-Attain p {
    font-size:15px;
    margin: 1px 0 0px 10px;
    font-weight: 100;

  }
  
  
  .slide3 {
    grid-area: slide3;
    height: 874px;
    width: 100%;
    background-color: #f6f6f6;
    position: relative;
    
  
  }
  
  .slide3 .Skill-Exp {
    position: absolute;
    height: 35px;
    width: 300px;
    top: 3%;
    left: 10%;
  
    background-color: #84a6f7;
    border: 1px solid #707070;
    border-radius: 30px;
    padding-top: 10px;
  }
  
  
  .Skill-Exp h2 {
    color: #fff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    padding-left: 50px;
    font-size: 18px;
    position: absolute;

  }
  
  .Skill-Exp img {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 50px;
    top: 5px;
  }
  
  
  
  .Web-Development {
    position: absolute;
  
    height: 220px;
    width: 200px;
    background-color: #84a6f7;
    border-radius: 30px;
    border: 3px solid #fff;
  }
  
  .Web-Designer{
    position: absolute;
  
    height: 220px;
    width: 200px;
    background-color: #84a6f7;
    border-radius: 30px;
    border: 3px solid #fff;
  }
  .System-Development {
    position: absolute;
  
    height: 220px;
    width: 200px;
    background-color: #84a6f7;
    border-radius: 30px;
    border: 3px solid #fff;
  }
  
  .carousel{
    position: absolute;
    align-items: center;
    top: 10%;
    left: 10%;

    height: 350px;
    width: 30%;
    perspective:700px;
    transform: translateY(-150px);
    
  }
  .carousel h1{
    font-size: 30px;
    color: #fff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
  }
  .carousel img{
    width: 99px;
    height: 99px;
    margin-left:28% ;
    position: absolute;

  
  }
  .carousel-item{
    margin-left: 100px;
    width: 150px;
    position: relative;
  }
  
  .Cover-Letter{
  
    position: absolute;
    top: 50%;
    left: 30px;
    height: 350px;
    width: 350px;
    border: 1px solid #707070;
    border-radius: 30px;
    background-color: #84a6f7;
  }
  
  .Cover-Letter p {
    font-family: Open-San-Light;
    font-size: 2.5vh;
    color: #fff;
    text-align: center;
    margin-top: 50px;
  }
}